In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/retail_transactional_dataset.csv")

In [3]:
df.head()

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,...,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
0,8691788.0,37249.0,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,324.086270,Clothing,Nike,Shorts,Excellent,Same-Day,Debit Card,Shipped,5.0,Cycling shorts
1,2174773.0,69749.0,Kelsey Hill,Mark36@gmail.com,6.852900e+09,82072 Dawn Centers,Nottingham,England,99071.0,UK,...,806.707815,Electronics,Samsung,Tablet,Excellent,Standard,Credit Card,Processing,4.0,Lenovo Tab
2,6679610.0,30192.0,Scott Jensen,Shane85@gmail.com,8.362160e+09,4133 Young Canyon,Geelong,New South Wales,75929.0,Australia,...,1063.432799,Books,Penguin Books,Children's,Average,Same-Day,Credit Card,Processing,2.0,Sports equipment
3,7232460.0,62101.0,Joseph Miller,Mary34@gmail.com,2.776752e+09,8148 Thomas Creek Suite 100,Edmonton,Ontario,88420.0,Canada,...,2466.854021,Home Decor,Home Depot,Tools,Excellent,Standard,PayPal,Processing,4.0,Utility knife
4,4983775.0,27901.0,Debra Coleman,Charles30@gmail.com,9.098268e+09,5813 Lori Ports Suite 269,Bristol,England,48704.0,UK,...,248.553049,Grocery,Nestle,Chocolate,Bad,Standard,Cash,Shipped,1.0,Chocolate cookies

In [4]:
df.shape

(302010, 30)

In [5]:
df.columns

Index(['Transaction_ID', 'Customer_ID', 'Name', 'Email', 'Phone', 'Address',
       'City', 'State', 'Zipcode', 'Country', 'Age', 'Gender', 'Income',
       'Customer_Segment', 'Date', 'Year', 'Month', 'Time', 'Total_Purchases',
       'Amount', 'Total_Amount', 'Product_Category', 'Product_Brand',
       'Product_Type', 'Feedback', 'Shipping_Method', 'Payment_Method',
       'Order_Status', 'Ratings', 'products'],
      dtype='str')

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Transaction_ID    301677 non-null  float64
 1   Customer_ID       301702 non-null  float64
 2   Name              301628 non-null  str
 3   Email             301663 non-null  str
 4   Phone             301648 non-null  float64
 5   Address           301695 non-null  str
 6   City              301762 non-null  str
 7   State             301729 non-null  str
 8   Zipcode           301670 non-null  float64
 9   Country           301739 non-null  str
 10  Age               301837 non-null  float64
 11  Gender            301693 non-null  str
 12  Income            301720 non-null  str
 13  Customer_Segment  301795 non-null  str
 14  Date              301651 non-null  str
 15  Year              301660 non-null  float64
 16  Month             301737 non-null  str
 17  Time              301660 non-null  str
 18  Total_Purchases   301649 non-null  float64
 19  Amount            301653 non-null  float64
 20  Total_Amount      301660 non-null  float64
 21  Product_Category  301727 non-null  str
 22  Product_Brand     301729 non-null  str
 23  Product_Type      302010 non-null  str
 24  Feedback          301826 non-null  str
 25  Shipping_Method   301673 non-null  str
 26  Payment_Method    301713 non-null  str
 27  Order_Status      301775 non-null  str
 28  Ratings           301826 non-null  float64
 29  products          302010 non-null  str
dtypes: float64(10), str(20)
memory usage: 69.1 MB

PII columns (not used in analysis):

Name

Email

Phone

Address

Zipcode

Approved for analysis:

Customer_ID

Age

Gender

Income

Customer_Segment

Date, Year, Month, Time

Product_Category, Brand, Type

Amount, Total_Amount

Shipping_Method

Payment_Method

Order_Status

Ratings

In [7]:
df.isnull().sum().sort_values(ascending=False)

Name                382
Phone               362
Total_Purchases     361
Date                359
Amount              357
Year                350
Time                350
Total_Amount        350
Email               347
Zipcode             340
Shipping_Method     337
Transaction_ID      333
Gender              317
Address             315
Customer_ID         308
Payment_Method      297
Income              290
Product_Category    283
State               281
Product_Brand       281
Month               273
Country             271
City                248
Order_Status        235
Customer_Segment    215
Ratings             184
Feedback            184
Age                 173
Product_Type          0
products              0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(4)

In this phase, we reviewed dataset structure, identified PII fields, assessed data quality, and defined governance rules before analysis.